# Database Creadential ibm DB2
DB_HOSTNAME = ""
DB_USERNAME = ""
DB_PASSWORD = ""
DB_DB = ""
DB_PORT = ""
DB_PROTOCOL = ""

#SCERET KEY
JWT_SECRET_KEY=""
PASSWORD_SALT=""

#SEND GRID
SENDGRID_API_KEY=""
FROM_MAIL=""

#BASE URL
BASE_URL=""